<form [formGroup]="form">
  <form-field label="rows">
    <input formControlName="rows" type="number" step="1" min="1" appFormFieldComponent />
  </form-field>
  <form-field label="cols">
    <input formControlName="cols" type="number" step="1" min="1" appFormFieldComponent />
  </form-field>
</form>
<table>
  <tbody>
    <tr *ngFor="let row of grid(); let i = index;">
      <td *ngFor="let col of row; let y = index;">
        <game-cell [color]="col" (colorChange)="updateCellColor(i, y, $event)"></game-cell>
      </td>
    </tr>
  </tbody>
</table>
