<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">Color Game</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto"></ul>
    <span class="navbar-text">
      {{user?.username}}
    </span>
    <ul class="navbar-nav">
      <li class="nav-item" appUserConnected>
        <loading [loading]="logoutLoading()">
          <a class="nav-link" (click)="logout()">Logout</a>
        </loading>
      </li>
      <li class="nav-item" appUserDisconnected>
        <a class="nav-link" routerLink="/user/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
